<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.uielementspart2challenge">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.UIElementsPart2Challenge">
        <activity android:name="com.example.uielementspart2.AddSongToAlbumAct"></activity>
        <activity android:name="com.example.uielementspart2.NewAlbumDetailsAct" />
        <activity android:name="com.example.uielementspart2.EditAlbumAct" />
        <activity android:name="com.example.uielementspart2.AddAlbumAct" />
        <activity android:name="com.example.uielementspart2.EditSongAct" />
        <activity android:name="com.example.uielementspart2.AddSongAct" />
        <activity android:name="com.example.uielementspart2.AlbumDetailsAct" />
        <activity android:name="com.example.uielementspart2.QueueAct" />
        <activity android:name="com.example.uielementspart2.AlbumsAct" />
        <activity android:name="com.example.uielementspart2.main_activity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>